/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * forma-djr-display:
 *   - http://typekit.com/eulas/00000000000000007759f957
 *   - http://typekit.com/eulas/00000000000000007759f976
 *   - http://typekit.com/eulas/00000000000000007759f94d
 *   - http://typekit.com/eulas/00000000000000007759f932
 *   - http://typekit.com/eulas/00000000000000007759f955
 *   - http://typekit.com/eulas/00000000000000007759f94c
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2025-06-18 10:22:02 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=twe8lcf&ht=tk&f=30349.30350.30351.30354.30355.30356&a=3525586&app=typekit&e=css");

@font-face {
font-family:"forma-djr-display";
src:url("https://use.typekit.net/af/1887f0/00000000000000007759f957/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/1887f0/00000000000000007759f957/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/1887f0/00000000000000007759f957/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"forma-djr-display";
src:url("https://use.typekit.net/af/9a9570/00000000000000007759f976/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/9a9570/00000000000000007759f976/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/9a9570/00000000000000007759f976/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"forma-djr-display";
src:url("https://use.typekit.net/af/2fc78f/00000000000000007759f94d/31/l?subset_id=2&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/2fc78f/00000000000000007759f94d/31/d?subset_id=2&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/2fc78f/00000000000000007759f94d/31/a?subset_id=2&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"forma-djr-display";
src:url("https://use.typekit.net/af/d2ae80/00000000000000007759f932/31/l?subset_id=2&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/d2ae80/00000000000000007759f932/31/d?subset_id=2&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/d2ae80/00000000000000007759f932/31/a?subset_id=2&fvd=n6&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:600;font-stretch:normal;
}

@font-face {
font-family:"forma-djr-display";
src:url("https://use.typekit.net/af/f088ed/00000000000000007759f955/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/f088ed/00000000000000007759f955/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/f088ed/00000000000000007759f955/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"forma-djr-display";
src:url("https://use.typekit.net/af/ef1935/00000000000000007759f94c/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/ef1935/00000000000000007759f94c/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/ef1935/00000000000000007759f94c/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

.tk-forma-djr-display { font-family: "forma-djr-display",sans-serif; }
